  <div class="whiskies overflow-auto">
    {{#each whiskeys as |whiskey|}}
      <div class="items" style="border: 1px solid gray">
        {{whiskey.id}} -
        NAME: {{whiskey.name}} _
        VARIETY: {{whiskey.variety}} _
        REGION: {{whiskey.region}} _
        AGE: {{whiskey.age}} _
        TASTE: {{whiskey.taste}} _
        PRICE: {{whiskey.price}}
      </div>
    {{/each}}
  </div>
